h1 {font-size: 60px; text-align: left; color: black;}
h1 img {
    width: 250px;
    height: 250px;
}


p {font-size: 40px;}

strong {font-size: 34px}

h1 {background: #DB7093;}

strong {color: black;}

h1 {background: 	#ee6205;}
body {background: 	#ee6205}

h2 {font-size: 45px;text-align: center; color: black; background: 		#F4A460;}
ul {font-size: 30px;}
h4 {font-size: 50px; text-align: left; color: black;}
ol {font-size: 30px;}
img {
    width: 400px;
    height: 300px;
}


